.search__widget,
.sorting__widget select {
  padding: 7px 25px 7px 15px;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  color: var(--primary);
  transition: 1s;
}

.sorting__widget {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting__widget p {
  position: relative;
  top: 8px;
  right: 20px;
  color: var(--primary);
}

.sorting__widget select {
  cursor: pointer;
  outline: none;
  background: var(--background);
  color: var(--primary);
}

.search__widget input {
  border: none;
  background: var(--background);
  transition: 1s;
  color: var(--primary);
}

.search__widget input::placeholder {
  color: var(--primary);
}

.search__widget input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }

  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }

  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}
