.checkout__title {
  color: var(--primary);
}

.checkout__form input,
.checkout__form input::placeholder {
  color: var(--primary) !important;
}

.checkout__bill {
  background: var(--secondary);
  padding: 30px;
  border-radius: 5px;
  color: var(--background);
}

.checkout__total {
  border-top: 1px solid var(--background);
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 40px;
  }
}
