.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: var(--tertiary);
}

.footer__logo img {
  width: 20%;
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600px;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #fafafa;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #1b1b1b;
  line-height: 28px;
}

.delivery__time-item {
  background-color: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #fafafa;
}

.delivery__time-item p {
  color: #1b1b1b;
}

.footer__title {
  font-size: 1.1rem;
  color: #fafafa;
  font-weight: 600;
}

.newsletter {
  padding: 5px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input {
  background: transparent;
  border: none;
  outline: none;
}

.newsletter input:focus {
  outline: none;
}

.newsletter span {
  background: var(--secondary);
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter span i {
  color: var(--white);
}

.newsletter input::placeholder {
  color: var(--primary);
}

.social__links span i {
  padding: 5px;
  background: var(--secondary);
  color: var(--white);
  border-radius: 50%;
}

.copyright__text {
  font-size: 0.8rem;
  color: #1b1b1b;
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }

  .newsletter span {
    padding: 5px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links {
    justify-content: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }

  .social__links span a {
    font-size: 0.7rem;
  }
}
